.agb-card{
    width: 275px;
    border-bottom-right-radius: 15px;
    background-color: #faebd7;
    box-shadow: 4px 2px 1px -1px rgba(0, 0, 0, 0.2), 4px 1px 1px 0px rgba(0, 0, 0, 0.14), 1px 1px 3px 0px rgba(0, 0, 0, 0.12);
    &-content{
        overflow-wrap: break-word;
    }
    &-footer{
        display: flex;
        justify-content: space-between;
    }
    .material-icons{
        font-size: 20px;
        cursor: pointer;
    }
}